.App{
  display:flex;
  justify-content: center;
  align-items:center;
  height:100vh;
  background-color: tomato;
}

.xoGrid{
  background-color: magenta;
  display:grid;
  grid-template-columns: repeat(10,75px) ;
  grid-template-rows: repeat(10,75px) ;
}

.cell{
  grid-column-end: span 1 ;
  border : 2px solid;
  font-size: 60px;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}