.App{
  display:flex;
  justify-content: center;
  align-items:center;
  height:100vh;
  background-color: black;
  /*opacity: 0.5;*/
}

.xoGrid{
  background-color: chocolate;
  opacity: 0.75;
  display:grid;
  grid-template-columns: repeat(10,75px) ;
  grid-template-rows: repeat(10,75px) ;
}

.cell{
  grid-column-end: span 1 ;
  border : 2px solid white;
  font-size: 60px;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.cell:hover{
  opacity: 0.5;
  background-color:lawngreen;
}
